{
  //编码规则
    "presets": [
      [
        "babel-preset-env"
        // {
        //   "modules":false,
        //   "targets": {
        //     "browsers":["ie >= 7"]
        //   },
        //   "useBuiltIns":"usage",
        //   "debug":true,
        //   "loose":true
        // }
      ]
    ],
    //插件
    "plugins": ["transform-es2015-modules-umd"]

  }